<h2> Attractions </h2>

<% if @user.admin %>
    <%= link_to "New Attraction", new_attraction_path %>

  <ul>
    <% @attractions.each do |attraction| %>
      <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li><br>
    <% end %>
  </ul>
<% end %>


<ul>
  <% @attractions.each do |attraction| %>
    <li>
      <%= link_to "Go on #{attraction.name}", attraction_path(attraction) unless @user.admin %>

    </li>
  <% end %>
</ul>
